html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	background: url("gear-bg.png") no-repeat #fafbfc;
	background-position: left calc(50% - 64px - 40em / 2) center;
}

a {
	text-decoration: none;
}

a img {
	border: 0;
}

#container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 40em;
	margin: auto;
	padding: 1em 3em;
	border-left: 1px solid gray;
	text-align: center;
	background: #fafbfc;
	color: #000;
}

#name {
	margin-bottom: 0;
	font-size: 2em;
}

ul#links {
	padding: 0;
	list-style: none;
	text-align: center;
}

ul#links li {
	display: inline-block;
	padding-right: .8em;
}

ul#links li img {
	height:1em;
}

#summary {
	margin-top: 3em;
	text-align: left;
}
#languages span,
#tools span {
	display: inline-block;
	padding: .4em .5em;
	margin: 2px 2px 2px 0;
	line-height: 1;
	color: ##39739d;
	background: #E1ECF4;
}